<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lab 7 - ZPO</title>
</head>
<body>
<h1>Edit your note</h1>
<form action="#" th:action="@{/list/edit/{id}(id=${editNote.id})}" th:object="${editNote}" method="post">
    Importance :<select name="cars" th:field="*{importance}">
    <th:block th:each="importance : ${importances}">
        <option th:value="${importance}" th:text="${importance}"></option>
    </th:block>
</select><br />
    Your note:<input type="text" th:field="*{text}"><br />
    <input type="submit" value="Send note">
</form>
</body>
</html>